* {
    margin: 0px;
    padding: 0px;
    
.Pastelería {
    height: 100vh;

}

.Pastelería model-viewer {
    height: 80%;
    width: 100%;
}

p{
    margin: 30px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

title
