.Pastelería {
    height: 100vh;
    border: 10px solid black;
}

.Pastelería model-viewer {
    height: 100%;
    width: 100%;
}

p{
    margin: 30px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
